@import 'tailwindcss';

#root {
   max-width: 1280px;
   margin: 0 auto;
   text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;700&display=swap');
* {
   box-sizing: border-box;
}
input[type='date'],
input[type='time'] {
   color-scheme: light;
   background: transparent;
   border: none;
   outline: none;
   font-family: inherit;
   color: inherit;
}
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
   cursor: pointer;
   opacity: 0.35;
}
input[type='time']:hover::-webkit-calendar-picker-indicator,
input[type='date']:hover::-webkit-calendar-picker-indicator {
   opacity: 0.7;
}
